@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";

.partners-wrapper {
  padding-top: 16px;

  .partners-inner {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    padding: 32px 0 23px 39px;
    background-color: #ebf2f2;

    @include max-mq($md) {
      padding: 32px 14px 23px 35px;
    }
    @include max-mq($sm) {
      padding: 32px 24px 23px 30px;
    }

    .partners-logo {
      flex: 1;
    }
  }
}
