h1 {
  font-family: $secondary-font;
  font-size: $font-size-h1;
  font-weight: 700;
}

h2 {
  font-size: $font-size-h2;
  font-family: $secondary-font;

  @include max-mq($sm) {
    font-size: 32px !important;
  }
}

h3 {
  font-size: $font-size-h3;
  font-family: $secondary-font;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

p {
  font-size: $font-size-base;
  font-weight: 400;
}

/* stylelint-disable */ /* remove this comments on project setup */
// .entry-content {
// 	p {

// 	}

// 	a {

// 	}

// 	ul {

// 	}

// 	ol {

// 	}
// }
/* stylelint-enable */
