@import "../../assets/scss/global/variables";
@import "../../assets/scss/global/mixins";

.featured-products-wrapper {
  padding-top: 48px;

  .section-title {
    font-size: 54px;
    font-family: "Satoshi", sans-serif;
    font-weight: 900;
    color: #1f3233;
    text-transform: uppercase;
  }

  .featured-products-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

    @include max-mq($md) {
      justify-content: center;
    }

    @include max-mq($sm) {
      justify-content: center;
    }

    .card:nth-child(2) {
      .card-content {
        .card-product {
          .card-product-name {
            margin-top: 15px;
            cursor: pointer;
          }
        }
      }
    }

    .card:nth-child(3) {
      .card-content {
        .card-product {
          .card-product-name {
            margin-top: 29px;
            cursor: pointer;
          }
        }
      }
    }

    .card:nth-child(4) {
      .card-content {
        .card-product {
          .card-product-name {
            margin-top: 27px;
            cursor: pointer;
          }
        }
      }
    }

    .card:nth-child(5) {
      .card-content {
        .card-product {
          .card-product-name {
            margin-top: 57px;
            cursor: pointer;
          }
        }
      }
    }

    .card:nth-child(6) {
      .card-content {
        .card-product {
          .card-product-name {
            margin-top: 57px;
            cursor: pointer;
          }
        }
      }
    }

    .card {
      padding: 16px;
      border: 1px solid #dcdcdc;
      border-radius: 20px;
      display: flex;
      max-width: 369px;
      flex-wrap: wrap;

      .card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-company {
          display: flex;
        }

        .card-image {
          height: 228px;
          text-align: center;
          padding-top: 13px;
          img {
          }
        }

        .card-product:nth-child(2) {
          .card-product-name {
            margin-top: 15px;
          }
        }

        .card-product {
          .card-product-name {
            color: #1f3233;
            font-weight: 600;
            font-size: 20px;
            cursor: pointer;
          }

          .card-product-description {
            color: #1f3233;
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
